// General nextflow config.
nextflow.enable.dsl=2
nextflow.enable.moduleBinaries = true
cleanup = true 

process.executor = 'slurm'
process.container = ''

// Adjust the params to your usecase.
params {
    out_dir = ''
    input_txt = ''
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind $PWD"
    cacheDir = ""
}