// General nextflow config.
// PLEASE MANUALLY DEFINE THESE.
nextflow.enable.dsl=2
nextflow.enable.moduleBinaries = true
cleanup = "true" 

// Container and executor params
// PLEASE MANUALLY DEFINE THESE.
process.executor = "slurm"
process.container = ""

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind bindpath"
    cacheDir = ""
}

params {
    // Reference and threshold Params
    // PLEASE MANUALLY DEFINE THESE.
    annotation=""
    batch_size = 100
    perms = 100
    minob = 30
    mingt = 2
    
    // General Params
    // THESE ARE REPLACED BY WRAPPER.
    // NO TOUCHIES >:(
    in_dir = ""
    out_dir = ""
    name = ""
    exp = ""
    gte = ""
    genelist = ""
}

